<mat-toolbar color="primary">
  <button fxHide.gt-sm="true" mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>

  <span>ExTrack</span>

  <ng-template [ngIf]="user$ | async">
    <span fxFlex="1 1 auto"></span>

    <button mat-button [matMenuTriggerFor]="menu">
      Welcome, {{ (user$ | async).username }}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logoutUser()">Logout</button>
    </mat-menu>
  </ng-template>
</mat-toolbar>
